* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.master-wrapper-page {
    background: #f5f5f7;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", sans-serif;
}

/* pagination */

.page-item {
    margin-right: 5px;
}


/* bỏ dâu tăng số */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}


/* css info */

.master-column-wrapper .side-2 .listbox {
    background: #FFFFFF;
    width: 100%;
    padding: 5px 5px;
}

.master-column-wrapper .side-2 .listbox .active {
    padding: 8px 0 8px 15px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 15px;
    background: rgba(0, 102, 204, 0.1);
}

.master-column-wrapper .side-2 .listbox .inactive {
    width: 100%;
    font-size: 15px;
    border-radius: 8px;
    color: #1D1D1F;
}

.master-column-wrapper .side-2 .listbox .active {
    color: #0066CC;
}

.master-column-wrapper .center-2 .page-body {
    border-radius: 8px;
}

.buttons,
.add-button {
    margin: 12px 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    background: #0066CC;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    min-width: 140px;
    padding: 10px 30px;
}

.add-button button {
    background: #0066CC;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    min-width: 140px;
    padding: 10px 30px;
}

.fieldset input,
span,
option,
.no-data,
.info {
    font-size: 14px;
    font-family: 'Arial';
    color: #777;
}

.fieldset select {
    font-size: 14px;
    font-family: 'Arial';
    color: #777;
}


/* changepassword */

label.luu_y {
    background: #F5F5F7;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border-radius: 8px;
}


/* my-system*/

.cl-your-referral-info h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1F;
    text-align: left;
}

.cl-your-referral-info p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    background: #F5F5F7;
    border-radius: 8px;
    padding: 8px 12px;
    color: #86868B;
}

.copy-link-button.copied {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #0066CC;
}


/* css nút */

.slidebar_list-tem a {
    color: #515154;
    font-size: 18px;
}

.button-navbar-mobie {
    background: none;
}


/* menu */

.header-bg-101{
    background: linear-gradient(180deg, #141414 0%, #202022 50%, #47474f 100%);
}

/* navbar */
.mse {
    margin-left: 100px;
    margin-right: 100px;
}

.fs-navbar-1 {
    font-size: 10px;
}
.fs-navbar-2 {
    font-size: 12px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: 48px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    /* .icon-menu {
        margin-top: -10px;
    }

    .logo a img{
        width: 200px;
    } */
    .icon-cart{
        margin-top: -7px;
    }

    .hr-line {
        display: none;
    }
    .menu-mobile {
        margin-top: -10px;
    }

    .cart-count-mobile {
        position: absolute;
        top: 10px;
        right: 18px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 2px;
        font-size: 10px;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .icon-menu {
        margin-top: -10px;
    }

    .logo a img{
        display: none;
    } */
    .icon-cart{
        margin-top: -7px;
    }

    .hr-line {
        display: none;
    }
    .menu-mobile {
        margin-top: -10px;
    }

    .cart-count-mobile {
        position: absolute;
        top: 10px;
        right: 18px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 2px;
        font-size: 10px;
    }

    .navbar-nav .mxc {
        float: left;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .icon-menu {
        margin-top: -10px;
    }
    .logo a img{
        display: none;
    } */
    .icon-cart{
        margin-top: -7px;
    }
    .hr-line {
        display: none;
    }
    .menu-mobile {
        margin-top: -10px;
    }
    .input-search-mobile input{
        width: 400px;
    }
    .cart-count-mobile {
        position: absolute;
        top: 10px;
        right: 18px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 2px;
        font-size: 10px;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .icon-menu {
        margin-top: -10px;
    }
    .logo a img{
        margin-left: -431px;
        margin-top: -5px;
    } */
    .icon-cart{
        margin-top: -7px;
    }
    .hr-line {
        display: none;
    }
    .menu-mobile {
        margin-top: -10px;
    }
    .cart-count-mobile {
        position: absolute;
        top: 10px;
        right: 18px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 2px;
        font-size: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .icon-menu {
        margin-top: -10px;
    }

    /* .logo a img{
        margin-left: 0px;
        margin-top: -5px;
        display: block;
    } */
    .icon-cart{
        margin-top: -7px;
    }

    .hr-line {
        display: block;
    }
    .input-search {
        margin-left: -50px;
        width: 160px;
        margin-right: -21px;
    }
    .menu-mobile {
        margin-left: 0px;
        margin-top: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .icon-menu {
        margin-top: 0px;
    }
    /* .logo a img{
        margin-left: 67px;
    } */
    .input-search {
        margin-left: 0px;
        width: 420px;
    }
    .hr-line {
        display: block;
    }
    .menu-mobile {
        margin-top: 0px;
    }
    .mxc {
        margin-right: 25px;
        margin-right: 25px;
    }
    .item-cart{
        margin-left: -15px;
        margin-top: -0px;
    }

}
/* menu */


/* css info */

.master-column-wrapper .side-2 .listbox {
    background: #FFFFFF;
    width: 100%;
    padding: 5px 5px;
}

.master-column-wrapper .side-2 .listbox .active {
    padding: 8px 0 8px 15px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 15px;
    background: rgba(0, 102, 204, 0.1);
}

.master-column-wrapper .side-2 .listbox .inactive {
    width: 100%;
    font-size: 15px;
    border-radius: 8px;
    color: #1D1D1F;
}

.master-column-wrapper .side-2 .listbox .active {
    color: #0066CC;
}

.master-column-wrapper .center-2 .page-body {
    border-radius: 8px;
}

.buttons,
.add-button {
    margin: 12px 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    background: #0066CC;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    min-width: 140px;
    padding: 10px 30px;
}

.add-button button {
    background: #0066CC;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    min-width: 140px;
    padding: 10px 30px;
}

.fieldset input,
span,
option,
.no-data,
.info {
    font-size: 14px;
    font-family: 'Arial';
    color: #777;
}

.fieldset select {
    font-size: 14px;
    font-family: 'Arial';
    color: #777;
}


/* changepassword */

label.luu_y {
    background: #F5F5F7;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    border-radius: 8px;
}


/* my-system*/

.cl-your-referral-info h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1F;
    text-align: left;
}

.cl-your-referral-info p {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    background: #F5F5F7;
    border-radius: 8px;
    padding: 8px 12px;
    color: #86868B;
}

.copy-link-button.copied {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #0066CC;
}


/* css nút */

.slidebar_list-tem a {
    color: #515154;
    font-size: 18px;
}

.button-navbar-mobie {
    background: none;
}
